<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Text utils</title>
    </head>
    <body>
        <h1>Template is working fine!</h1>
        <form action="/analyze" method="get">
            <textarea name ="text" style="width: 877px; height: 215px;"></textarea><br>
            <input type="checkbox" name="removepunc"> Remove Punctuations <br>
            <input type="checkbox" name="fullcaps"> UPPERCASE <br>
            <input type="checkbox" name="newlineremover"> Remove New Lines <br>
            <button type="submit">Analyze Text</button>
        </form>
        
    </body>
</html>


